<div class="page-header">
  <%= link_to product_catalogs_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New product_catalog</h1>
</div>

<%= render 'form' %>
