<div class="page-header">
  <%= link_to price_schemas_path, :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New price_schema</h1>
</div>

<%= render 'form' %>
